<div class="page-container">
  <h1 class="page-title">{{'Character Overview' | uppercase}}</h1>
  <div class="character-container" *ngIf="characters">
    <mat-card class="character-card" *ngFor="let character of characters |
    paginate: {itemsPerPage: 10, currentPage: pageNumber, totalItems: totalPages}">
      <mat-card-title class="card-title">{{character.name}}</mat-card-title>
      <img class="character-thumbnail" src="{{character.thumbnail.path+'.'+character.thumbnail.extension}}">
      <mat-card-actions>
        <button class="details-button" mat-raised-button>Details</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <!--  <div *ngIf="comics!.length">-->
  <!--    <h2>{{characterNameForComicsOnScope+ '\'s comics'}}</h2>-->
  <!--    <div *ngFor="let comic of comics">-->
  <!--      <p>{{comic.title}}</p>-->
  <!--      <img src="{{comic.thumbnail.path+'.'+comic.thumbnail.extension}}" alt="">-->
  <!--      <p>{{comic.description}}</p>-->
  <!--    </div>-->
  <!--  </div>-->
  <pagination-controls class="pagination-controls"
                       (pageChange)="getCharacters($event,'10', ($event === 1 ? $event - 1 : ($event -1 ) * 10).toString())"></pagination-controls>
</div>



