@import "../assets/styles/variables";

$icon-font-path: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/" !default;
// Include Bootstrap styles
@import "~bootstrap-sass/assets/stylesheets/_bootstrap";
.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: $mine-shaft;
}
