@import "../../assets/styles/variables";

mat-divider {
  margin: 10px 0;
  background-color: $marvel-red;
  opacity: 0.4;
}

.detail-dialog {
  width: 800px;

  .detail-dialog-title {
    color: $marvel-red;
  }
}

.character-image {
  height: 280px;
  border-radius: 4px;
  box-shadow: 6px 6px 6px 1px $marvel-red;
  margin: 20px 0;
}

.detail-dropdown-container {
  width: 33%;
}

.dropdown-label {
  color: $marvel-red;
}

.dialog-button {
  background-color: $marvel-red;
  margin-bottom: 20px;
}

.link-array {
  display: flex;
  margin: 20px 0;

  .link-button {
    background-color: $marvel-red;
    margin-right: 10px;
  }
}

.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
  flex-basis: 0;
}

.expansion-option {
  height: 38px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;

}

.expansion-option:hover {
  background-color: $marvel-red;
}
